.gitignore export-ignore
LICENCE.md export-ignore
README.md export-ignore
gp.bat export-ignore
addons/raycast_mult_3d/icon.png export-ignore
addons/raycast_mult_3d/screenshot.png export-ignore
.gitattributes export-ignore
.github export-ignore